
<md-content layout-padding>
	<div class="col-sm-5 col-md-offset-3 md-whiteframe-z3">
                  <form data-validate="parsley">
                    <section class="panel">
                      <header class="panel-heading">
                        <div layout="row">
						<span class="h4"><i class="fa fa-gear"></i>&nbspProfile Settings</span>
						<span flex></span>
						<img ng-src="{{URL_PROFILE}}" class="custom-avatar animated rollIn" />
						</div>
                      </header>
                      <div class="panel-body">
                  

                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >Username</label>
                                  <input ng-model="FORM.username" required >
                              </md-input-container>
                          </div>
                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >First name</label>
                                  <input ng-model="FORM.firstname" required>
                              </md-input-container>
                          </div>
                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >Middle name</label>
                                  <input ng-model="FORM.middlename" required>
                              </md-input-container>
                          </div>

                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label >Lastname </label>
                                  <input ng-model="FORM.lastname" required>
                              </md-input-container>
                          </div>
						  
						  <div class="form-group pull-in clearfix" >
                          <div class="col-sm-4">
                            
							<md-select placeholder="Month" ng-model="FORM.birthMonth" required >
							 <md-option ng-repeat="month in month" value="{{month.val}}">{{month.mnth}}</md-option>
							</md-select>
                          </div>
                          <div class="col-sm-4">
							<md-select placeholder="Day" ng-model="FORM.birthDate" >
									<md-option ng-repeat="days in date" value="{{days.val}}">{{days.day}}</md-option>
							</md-select>
                                  
                          </div> 
							<div class="col-sm-4">
						    <md-select placeholder="Year" ng-model="FORM.birthYear">
								<md-option ng-repeat="year in year" value="{{year}}">{{year}}</md-option>
							</md-select>
                                  
                          </div> 
                        </div>

					<div class="form-group">
						 <md-radio-group ng-model="FORM.gender">
							<md-radio-button value="m" aria-label="Gender">
								Male
							</md-radio-button>
							<md-radio-button value="f" aria-label="Gender">
								Female
							</md-radio-button>
						</md-radio-group>
                        </div>
             
                      </div>
                   <footer class="text-right">
						
                        <md-button class="md-raised"   id="custom-button-1" ng-click="saveChanges()"><span id="button-label-w"><i class="fa fa-floppy-o "></i>&nbspSave Changes</span></md-button>
						<button class="md-button md-warn md-raised " md-ink-ripple disabled="{{saveStateButton}}"> Hello</button>
				 </footer>
                    </section>
                  </form>
                </div>
			
</md-content>