#LoginContainer{
	margin-top:50px;
}

#customToolbar-1{
	background-color:#594f8d;
}

#customBackground-1{
	background-color:#594f8d;
}

#customBackground-2{
	background-color: #92cf5c;
}

#custom-button-1{
	background-color: #594f8d;
}



#button-label-w{
	color: white;
}

.custom-avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#thin-span-label{
	font-size: 15px
}

#profile-input-label-1{
	color:#5dcff3
}