<md-toolbar id="customToolbar-1">
			<div class="md-toolbar-tools">
			<h2><a ng-click="appLogin.home()" md-ink-ripple>koolets</a></h2>
				<span flex></span>
				<div layout="row">
				
				<md-button ng-click="appLogin.register()">Register</md-button>
				</div>
			</div>
		</md-toolbar>
	
	<md-content layout-padding>


		<div class="col-md-4 col-md-offset-4 animated fadeInDown" id="LoginContainer">
        <section class="panel md-whiteframe-z4">
          <header class="panel-heading text-center ">
            Sign in
			
          </header>
		  
          <form class="panel-body">
            <div class="form-group">
			<md-input-container>
              <label class="control-label">Email</label>
              <input type="email"  required data-ng-model="appLogin.email">
			</md-input-container>
            </div>
            <div class="form-group">
			<md-input-container>
              <label class="control-label">Password</label>
              <input type="password"  required data-ng-model="appLogin.password">
			 </md-input-container>
            </div>
            <md-checkbox>
				Keep me logged in
             </md-checkbox>
            <a href="#" class="pull-right m-t-xs"><small>Forgot password?</small></a>
            <md-button class="md-raised " ng-click="appLogin.login()" id="custom-button-1"><span id="button-label-w">Login</span></md-button>
            
       
          </form>
        </section>
      </div>
 
	</md-content>
	