
<md-toolbar >

		<div class="md-toolbar-tools md-whiteframe-z2" id="customToolbar-1">
			<h2><a ng-click="appRegister.home()">koolets</a></h2>
			<span flex></span>
			<div layout="row">
			
			<md-button ng-click="appRegister.signin()"><span>Sign In</span></md-button>
			</div>
		</div>
	</md-toolbar>
<md-content layout-padding>
	<div class="col-sm-4 col-md-offset-4 md-whiteframe-z3">
                  <form data-validate="parsley">
                    <section class="panel">
                      <header class="panel-heading">
                        <span class="h4">Register</span>
                      </header>
                      <div class="panel-body">
                        <p class="text-muted">Please fill the information to continue</p>

                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label>Username</label>
                                  <input ng-model="appRegister.FORM.username" required>
                              </md-input-container>
                          </div>
                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label>First name</label>
                                  <input ng-model="appRegister.FORM.firstname" required>
                              </md-input-container>
                          </div>
                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label>Middle name</label>
                                  <input ng-model="appRegister.FORM.middlename" required>
                              </md-input-container>
                          </div>

                          <div layout layout-sm="column">
                              <md-input-container flex>
                                  <label>Lastname </label>
                                  <input ng-model="appRegister.FORM.lastname" required>
                              </md-input-container>
                          </div>
						  
						  <div class="form-group pull-in clearfix" >
                          <div class="col-sm-4">
                            
							<md-select placeholder="Month" data-ng-model="appRegister.FORM.birthMonth" required>
							 <md-option ng-repeat="month in appRegister.month" value="{{month.val}}">{{month.mnth}}</md-option>
							</md-select>
                          </div>
                          <div class="col-sm-4">
							<md-select placeholder="Day" data-ng-model="appRegister.FORM.birthDate">
								<md-option ng-repeat="days in appRegister.date" value="{{days.val}}">{{days.day}}</md-option>
							</md-select>
                                  
                          </div> 
							<div class="col-sm-4">
						    <md-select placeholder="Year" data-ng-model="appRegister.FORM.birthYear">
								<md-option ng-repeat="year in appRegister.year" value="{{year}}">{{year}}</md-option>
							</md-select>
                                  
                          </div> 
                        </div>

                        <div class="form-group">
                          <md-input-container>
							<label>Email</label>
							<input type="email"  data-ng-model="appRegister.FORM.email" required>   
						  </md-input-container>
			                     
                        </div>
                        <div class="form-group pull-in clearfix" >
                          <div class="col-sm-6">
                            
							<md-input-container>
							<label>Enter password</label>
							 <input type="password"  required  data-ng-model="appRegister.FORM.password" >   
							</md-input-container>
                          </div>
                          <div class="col-sm-6">
						    <md-input-container>
							<label>Confirm password</label>
							<input type="password" required data-ng-model="appRegister.FORM.retype_password">    
							</md-input-container>
                                  
                          </div>   
                        </div>
						
                        <div class="form-group">
						 <md-radio-group ng-model="appRegister.FORM.gender">
							<md-radio-button value="m" aria-label="Gender">
								Male
							</md-radio-button>
							<md-radio-button value="f" aria-label="Gender">
								Female
							</md-radio-button>
						</md-radio-group>
                        </div>
                        <md-checkbox data-ng-model="appRegister.FORM.agree">
                         
                           I agree to the &nbsp<a href="#" class="text-info">Terms of Service</a>
                       
                        </md-checkbox>
                      </div>
                      <footer class="panel-footer text-right bg-light lter">
                        <md-button class="md-raised" ng-click="appRegister.registerMe()" id="custom-button-1"><span id="button-label-w">Register</span></md-button>
					
                      </footer>
                    </section>
                  </form>
                </div>
			
</md-content>