<md-bottom-sheet>
 <md-content>
 		<md-list>
						<md-list-item  style="background-color:white" >
						
					
							<md-button ng-click="bottomAction.profile()"><i class="fa fa-user text-muted"></i>&nbsp&nbspProfile</md-button>
						
						</md-list-item>
						<md-list-item  style="background-color:white">
							
						
							<md-button><i class="fa fa-gear text-muted"></i>&nbsp&nbspAccount settings</md-button>
							
						</md-list-item>
						<md-list-item  style="background-color:white">
							
					
							<md-button><i class="fa fa-sign-out text-muted"></i>&nbsp&nbspLogout</md-button>
							
						</md-list-item>
						
					</md-list>
 </md-content>
</md-bottom-sheet>