<div layout="column" layout-fill>
	<section layout="row" flex>
		<md-sidenav class="md-sidenav-left md-whiteframe-z2 " md-component-id="left-menu" md-is-locked-open="$mdMedia('gt-md')" >
			<md-toolbar  id="customToolbar-1">
			<div class="md-toolbar-tools">
				<h3>koolets</h3>
			</div>
			</md-toolbar >
			
			<md-toolbar>
		
			<div class="md-toolbar-tools md-whiteframe-z2" id="customBackground-2">
			 
			  <img ng-src="{{kooletsMods.URL_PROFILE}}" class="custom-avatar animated rollIn" />
			  
			
			 <span flex></span>
			  <span id="thin-span-label">{{kooletsMods.FullName}}</span>
			</div>
		
			</md-toolbar>
			
				<md-content>
					<md-list>
						<md-list-item ng-click="kooletsMods.discovery()" style="background-color:white">
						
					
							<span><i class="fa fa-eye text-muted"></i>&nbsp&nbspDiscovery</span>
						
						</md-list-item>
						<md-list-item ng-click="kooletsMods.events()" style="background-color:white">
							
						
							<span><i class="fa fa-glass text-muted"></i>&nbsp&nbspEvents</span>
							
						</md-list-item>
						<md-list-item ng-click="kooletsMods.message()" style="background-color:white">
							
					
							<span><i class="fa fa-envelope text-muted"></i>&nbsp&nbspMessages</span>
							
						</md-list-item>
						<md-list-item ng-click="kooletsMods.pods()" style="background-color:white">
							
				
							<span><i class="fa fa-group text-muted"></i>&nbsp&nbspPods</span>
						
						</md-list-item>
					</md-list>
				</md-content>
		</md-sidenav>
	<md-content flex md-scroll-y>
		<md-toolbar id="customBackground-1">
		<div class="md-toolbar-tools">
		<md-button ng-click="kooletsMods.showLeftMenu()" hide-gt-md aria-label="Menu" class="md-icon-button">
            <i class="fa fa-bars"></i>
         </md-button>
		<span flex></span>
			<div layout="row">
		
			<md-menu class="md-menu" md-position-mode="target-right target">
			 <md-button hide-sm aria-label="account" ng-click="$mdOpenMenu()"><i class="fa fa-gear fa-1x"></i>&nbspAccount</i></md-button>
			 <md-menu-content width="4">
				<md-menu-item ng-click="kooletsMods.profile()">
					<span><i class="fa fa-user"></i>&nbsp&nbspProfile</span>
				</md-menu-item>
				<md-menu-item ng-click="go()">
					<span><i class="fa fa-gear"></i>&nbsp&nbspAccount settings</span>
				</md-menu-item>
				<md-menu-item ng-click="kooletsMods.logout()">
					<span><i class="fa fa-sign-out"></i>&nbsp&nbspLogout</span>
				</md-menu-item>
			 </md-menu-content>
			</md-menu>
		   <md-button class="md-icon-button" aria-label="settings" hide-gt-md ng-click="kooletsMods.showActionSettings($event)">
			<i class="fa fa-ellipsis-v"></i>
		</md-button>
			</div>
		</div>
		</md-toolbar>
		
		<!-- koolets modules -->
		<md-content >
			<ui-view >
				
			</ui-view>
		</md-content>
		<!--/End view modules-->	
			
	</md-content>
	</section>
</div>